<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cignacmb.smart.job.mapper.tm.TmAgentToTurnOverMapper">

    <delete id="deleteTmAgentTurnover">
        delete from tmagent_turnover
    </delete>

    <insert id="insertTmAgentTurnover">
        insert into tmagent_turnover (
        AGENTNUM,
        AGENTSN,
        NAME,
        AGENTSTATE,
        EMPLOYMONTH,
        EMPLOYDATE,
        INDUEFORMDATE,
        TRAINNUM,
        TAKEUPDATE,
        ISREHARE,
        DIMISSIONMONTH,
        DIMISSIONDATE,
        DIMISSIONTYPE,
        DIMISSIONREASON,
        ISTRAINEE,
        HIRETYPE,
        RECRUITMENTCHANNEL,
        CHANNEL,
        POSTSIGN,
        POSTTYPE,
        POST,
        AGENTGRADE,
        CITY,
        AREA,
        MANAGECOM,
        MTMSENNAME,
        MTMSAGENTNUM,
        MCCMENNAME,
        MCCMAGENTNUM,
        MANAGECOMMANAGER,
        CITYMANAGER,
        TMRTOTMSDATE,
        TMRTOTMSNOTCOACHDATE,
        SYSTEMFLAG
        )
        select
        a.agentnum as 员工编号,
        c.agentsn as 员工工号,
        nvl(unistr(REPLACE(f.surname || f.name, '\u', '\')), a.surname || a.name) as 中文名,
        '在职' as 员工状态,
        coalesce(c.APPLICATION2, to_char(a.employdate, 'YYYYMM')) as 入职月份,
        to_char(a.employdate, 'YYYY-MM-DD') as 入职日期,
        to_char(a.INDUEFORMDATE, 'YYYY-MM-DD') as 转正日期,
        c.trainNum as 培训批次,
        to_char(a.takeupdate, 'YYYY-MM-DD') as 上线日期,
        (
        select wc2.codename
        from ldcode wc2
        where wc2.codetype = 'f_isrehare'
        and wc2.code = c.isrehare
        ) as 是否Rehire,
        '' as 离职月份,
        '' as 离职日期,
        '' as 离职性质,
        '' as 离职原因,
        (
        select wc4.codename
        from ldcode wc4
        where wc4.codetype = 'yesno'
        and wc4.code = c.istraninee
        ) as 是否Trainee,
        (
        select wc5.codename
        from ldcode wc5
        where wc5.codetype = 'hiretype'
        and wc5.code = c.hiretype
        ) as Hire_Type,
        (
        select wc5.codename
        from ldcode wc5
        where wc5.codetype = 'f_recruitcanal'
        and wc5.code = c.APPLICATION1
        ) as 招聘渠道,
        (
        select wc6.codename
        from ldcode wc6
        where wc6.codetype = 'channel2'
        and wc6.code = c.channel
        ) as Channel,
        c.postsign as 岗位标识,
        case
        when b.agentgrade in ('ACCM', 'ACCM(P)') and c.istraninee = 'N' then 'TMS Headcount'
        when b.agentgrade in ('ACCM', 'ACCM(P)') and c.istraninee = 'Y' then 'TMS Trainee'
        else (
        select wc7.codename
        from ldcode wc7
        where wc7.codetype = 'gradetype'
        and wc7.code = c.gradetype
        )
        end as 岗位类别,
        decode(b.agentgrade,
        'ACCM', 'TMS',
        'ACCM(P)', 'TMS',
        (select wc22.codealias
        from ldcode wc22
        where wc22.codetype = 'f_tmagentgrade'
        and wc22.code = b.agentgrade)
        ) as 岗位,
        b.AGENTGRADE as 职位名称英文a,
        (
        select t.ReportsCity
        from tmmanagecom t
        where t.managecom = a.managecom
        ) as 城市,
        (
        select t.ReportsRegion
        from tmmanagecom t
        where t.managecom = a.managecom
        ) as 区域,
        (
        select wc9.name
        from tmmanagecom wc9
        where wc9.branchtype = '1'
        and wc9.managecom = a.managecom
        ) as 项目,
        NVL(
        (select w24.shortname
        from laagentinfo w24
        where w24.agentcode = (
        select t.agentcode
        from laagent t
        where t.branchtype = '1'
        and t.agentnum = c.b1)
        ), (
        select wh24.EnName
        from agentinfo_hris wh24
        where wh24.agentnum = c.b1)
        ) as 管理主管英文名,
        c.b1 as 管理主管员工编号,
        NVL(
        (select w24.shortname
        from laagentinfo w24
        where w24.agentcode = (
        select t.agentcode
        from laagent t
        where t.branchtype = '1'
        and t.agentnum = c.b2)
        ), (select wh24.EnName
        from agentinfo_hris wh24
        where wh24.agentnum = c.b2)
        ) as 管理经理英文名,
        c.b2 as 管理经理员工编号,
        c.tmmgr as 项目经理,
        c.cityhead as 城市负责人,
        decode(c.TMRtoTMSdate,
        date'1999-01-01', '',
        to_char(c.TMRtoTMSdate, 'YYYY-MM-DD')
        ) as TMR晋升TMS日期,
        decode(c.CoachtoTMS1date,
        date '1999-01-01',
        '', to_char(c.CoachtoTMS1date, 'YYYY-MM-DD')
        ) as Coach晋升TMS1日期,
        'SMART' as 系统标识
        from laagent a,
        latree b,
        laagentinfo c,
        tmbranchgroup d,
        agentunicode f
        where a.branchtype = '1'
        and a.agentstate = '01'
        and b.branchtype = '1'
        and a.agentcode = b.agentcode
        and a.agentcode = c.agentcode
        and a.agentnum = f.agentnum(+)
        and d.branchtype = '1'
        and a.agentgroup = d.agentgroup
        and (
        select w1.comcode
        from tmmanagecom w1
        where w1.branchtype = '1'
        and w1.managecom = a.managecom
        ) like '86%'
        and d.branchattr like '%'

        union all

        select a.agentnum as 员工编号,
        c.agentsn as 员工工号,
        nvl(unistr(REPLACE(f.surname || f.name, '\u', '\')), a.surname || a.name) as 中文名,
        (case a.agentstate
        when '02' then 'Transfer'
        when '03' then '离职'
        when '04' then '其他'
        end) as 员工状态,
        coalesce(c.APPLICATION2, to_char(a.employdate, 'YYYYMM')) as 入职月份,
        to_char(a.employdate, 'YYYY-MM-DD') as 入职日期,
        to_char(a.INDUEFORMDATE, 'YYYY-MM-DD') as 转正日期,
        c.trainNum as 培训批次,
        to_char(a.takeupdate, 'YYYY-MM-DD') as 上线日期,
        (
        select wc2.codename
        from ldcode wc2
        where wc2.codetype = 'f_isrehare'
        and wc2.code = c.isrehare
        ) as 是否Rehire,
        e.dimissionmonth 离职月份,
        to_char(e.dimissiondate, 'YYYY-MM-DD') as 离职日期,
        (
        select codename
        from ldcode
        where codetype = 'dimissiontype'
        and code = e.DIMISSIONTYPE
        and code in ('03', '04')
        ) as 离职性质,
        (
        select wc27.codename
        from ldcode wc27
        where wc27.codetype = 'newdepartrsn'
        and wc27.code = e.dimissionreason
        ) as 离职原因,
        (
        select wc4.codename
        from ldcode wc4
        where wc4.codetype = 'yesno'
        and wc4.code = c.istraninee
        ) as 是否Trainee,
        (
        select wc5.codename
        from ldcode wc5
        where wc5.codetype = 'hiretype'
        and wc5.code = c.hiretype
        ) as Hire_Type,
        (
        select wc5.codename
        from ldcode wc5
        where wc5.codetype = 'f_recruitcanal'
        and wc5.code = c.APPLICATION1
        ) as 招聘渠道,
        (
        select wc6.codename
        from ldcode wc6
        where wc6.codetype = 'channel2'
        and wc6.code = c.channel
        ) as Channel,
        c.postsign as 岗位标识,
        case
        when b.agentgrade in ('ACCM', 'ACCM(P)') and c.istraninee = 'N' then 'TMS Headcount'
        when b.agentgrade in ('ACCM', 'ACCM(P)') and c.istraninee = 'Y' then 'TMS Trainee'
        else (
        select wc7.codename
        from ldcode wc7
        where wc7.codetype = 'gradetype'
        and wc7.code = c.gradetype
        ) end as 岗位类别,
        decode(b.agentgrade,
        'ACCM', 'TMS',
        'ACCM(P)', 'TMS',
        (select wc22.codealias
        from ldcode wc22
        where wc22.codetype = 'f_tmagentgrade'
        and wc22.code = b.agentgrade)
        ) as 岗位,
        b.AGENTGRADE as 职位名称英文a,
        (
        select t.ReportsCity
        from tmmanagecom t
        where t.managecom = a.managecom
        ) as 城市,
        (
        select t.ReportsRegion
        from tmmanagecom t
        where t.managecom = a.managecom
        ) as 区域,
        (
        select wc9.name
        from tmmanagecom wc9
        where wc9.branchtype = '1'
        and wc9.managecom = a.managecom
        ) as 项目,
        NVL(
        (select w24.shortname
        from laagentinfo w24
        where w24.agentcode = (
        select t.agentcode
        from laagent t
        where t.branchtype = '1'
        and t.agentnum = c.b1)
        ), (select wh24.EnName
        from agentinfo_hris wh24
        where wh24.agentnum = c.b1)
        ) as 管理主管英文名,
        c.b1 as 管理主管员工编号,
        NVL(
        (select w24.shortname
        from laagentinfo w24
        where w24.agentcode = (
        select t.agentcode
        from laagent t
        where t.branchtype = '1'
        and t.agentnum = c.b2)
        ), (select wh24.EnName
        from agentinfo_hris wh24
        where wh24.agentnum = c.b2)
        ) as 管理经理英文名,
        c.b2 as 管理经理员工编号,
        c.tmmgr as 项目经理,
        c.cityhead as 城市负责人,
        decode(c.TMRtoTMSdate,
        date '1999-01-01',
        '', to_char(c.TMRtoTMSdate, 'YYYY-MM-DD')
        ) as TMR晋升TMS日期,
        decode(c.CoachtoTMS1date,
        date '1999-01-01',
        '', to_char(c.CoachtoTMS1date, 'YYYY-MM-DD')
        ) as Coach晋升TMS1日期,
        'SMART' as 系统标识
        from laagent a,
        latree b,
        laagentinfo c,
        tmbranchgroup d,
        tmdimission e,
        agentunicode f
        where a.branchtype = '1'
        and a.agentstate in ('02', '03', '04')
        and b.branchtype = '1'
        and a.agentcode = b.agentcode
        and a.agentcode = c.agentcode
        and a.agentnum = f.agentnum(+)
        and d.branchtype = '1'
        and a.agentgroup = d.agentgroup
        and e.branchtype = '1'
        and a.agentcode = e.agentcode
        and (
        select w1.comcode
        from tmmanagecom w1
        where w1.branchtype = '1'
        and w1.managecom = a.managecom
        ) like '86%'
        and d.branchattr like '%'

        union all

        select
        a.AGENTNUM as 员工编号,
        '' as 员工工号,
        nvl(unistr(REPLACE(a.name, '\u', '\')), a.name) as 中文名,
        a.AGENTSTATE as 员工状态,
        '' as 入职月份,
        to_char(a.EMPLOYDATE, 'YYYY-MM-DD') as 入职日期,
        '' as 转正日期,
        '' as 培训批次,
        '' as 上线日期,
        '' as 是否Rehire,
        to_char(a.DIMISSIONDATE, 'YYYYMM') as 离职月份,
        to_char(a.DIMISSIONDATE, 'YYYY-MM-DD') as 离职日期,
        a.DIMISSIONTYPE as 离职性质,
        a.DIMISSIONREASON as 离职原因,
        '' as 是否Trainee,
        '' as Hire_Type,
        '' as 招聘渠道,
        '' as Channel,
        '' as 岗位标识,
        '' as 岗位类别,
        '' as 岗位,
        a.postEnName as 职位名称英文a,
        (
        select w1.ReportsCity
        from tmmanagecom w1
        where w1.branchtype = '1'
        and w1.name = a.sponsor
        ) as 城市,
        (
        select w1.ReportsRegion
        from tmmanagecom w1
        where w1.branchtype = '1'
        and w1.name = a.sponsor
        ) as 区域,
        a.sponsor as 项目,
        '' as 管理主管英文名,
        '' as 管理主管员工编号,
        '' as 管理经理英文名,
        '' as 管理经理员工编号,
        '' as 项目经理,
        '' as 城市负责人,
        '' as TMR晋升TMS日期,
        '' as Coach晋升TMS1日期,
        'HRIS' as 系统标识
        from agentinfo_hris a
        where 1 = 1
        and not exists (
        select 1
        from laagent x
        where x.agentnum = a.agentnum
        and x.agentstate &lt;> '02'
        )
        and (
        select w1.comcode
        from tmmanagecom w1
        where w1.branchtype = '1'
        and w1.name = a.sponsor
        ) like '86%'
    </insert>

</mapper>
